<div class="row">
    <div class="row col-md-4">
        <span>Search Produts</span>
        <input type="text" class="form-contol" name="productName" [(ngModel)]="productName"
        (ngModelChange)="search()" placeholder="Search by product name">
    </div>
    
    <br>
    <div class="row">
        <div *ngIf="productList.length === 0" class="row alert alert-info">No products available!</div>
        <div class="row col-md-10">
            <table class="table table-striped data-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Unit Price (LKR)</th>
                        <th>Carton Price  (LKR)</th>
                        <th>Units per Carton</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList">
                        <td>{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.unitPrice}}</td>
                        <td>{{product.cartonPrice}}</td>
                        <td>{{product.unitsPerCarton}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>