.name-span{
    width: 40px;
    font-size: smaller;
}

.option-span{
    width: 30px;
    font-size: smaller;
    margin-left: 20px;
}
.qty-span{
    width: 30px;
    font-size: smaller;
    margin-left: 20px;
}
.amount-span{
    width: 30px;
    font-size: smaller;
    margin-left: 20px;
}