<div class="row d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

    <div class="col-md-10">
        <h5 class="my-0 mr-md-auto font-weight-normal">
            <span>99x Assessment | Sandaka Wijesinghe</span>
        </h5>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-success" [routerLink]="['']">Home</a><span style="color: transparent;"> |
        </span>
        <a class="btn btn-outline-primary" [routerLink]="['all-products']">Item List | Search</a>
    </div>
</div>