.cart-item{
    .name-span{
        width: 40px;
        font-size: smaller;
        text-align: left;
    }

    .option-span{
        width: 30px;
        font-size: smaller;
        margin-left: 20px;
        text-align: left;
    }
    .qty-span{
        width: 30px;
        font-size: smaller;
        margin-left: 20px;
    }
    .amount-span{
        width: 30px;
        font-size: smaller;
        margin-left: 20px;
    }
}